---
import Pagination from "../components/Pagination.astro";
import PostList from "../components/PostList.astro";
import SearchForm from "../components/SearchForm.astro";
import config from "../config";
import Layout from "../layouts/Layout.astro";
import { client } from "../lib";

const { database, pageCount, pageInt, posts } = await client.listPosts("1");
---

<Layout>
  <main>
    <div class="bg-neutral-100 pb-[11.5rem] pt-[9.5rem]">
      <div class="mx-auto max-w-container">
        <h1 class="text-[2.25rem]/[1.33] font-bold">
          ウェブデベロッパー、<br />
          デザイナーのための百科事典
        </h1>
        <SearchForm className="mt-6 w-[29.1875rem]" />
      </div>
    </div>
    <article class="mx-auto max-w-6xl px-3">
      <!-- <header class="text-center mb-12">
        <h1 class:list={["mb-12 text-6xl title", config.index?.titleClasses]}>
          {database.title}
        </h1>
        <p class="mx-auto max-w-xl">
          {database.description}
        </p>
      </header> -->
      <PostList posts={posts} />
      <Pagination page={pageInt} pageCount={pageCount} />
    </article>
  </main>
</Layout>
<style
  define:vars={{
    titleFontFamily: config.index?.titleFontFamily || "inherit",
  }}
>
  .title {
    font-family: var(--titleFontFamily);
  }
</style>
