---
import { twMerge } from "tailwind-merge";

type Props = {
  title: string;
  href: string;
  image?: string;
  date?: string;
  category?: string;
  answer: string;
  className?: string;
};

const {
  href,
  title,
  image,
  date: date,
  category,
  answer,
  className,
} = Astro.props;
---

<div class={twMerge("col-span-1", className)}>
  <a
    href={href}
    class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden">
    {image && <img src={image} alt={title} class="aspect-video object-cover" />}
    <div class="py-6 px-8">
      {date && <p class="text-xs text-gray-600 mb-2">{date}</p>}
      <h2 class="font-bold text-2xl leading-tight">
        {title}
      </h2>
      <p>{answer}</p>
      <p>{category}</p>
    </div>
  </a>
</div>
